<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pizzariaatlas.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Pizzaria Atlas</name>
    <description>Sistema de Gestão para Pizzaria Atlas - Pedidos, Cardápio e Produtos</description>
    <author email="contato@pizzariaatlas.com" href="https://pizzariaatlas.com">
        Pizzaria Atlas
    </author>
    <content src="index.html" />
    
    <!-- Configurações de acesso -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    
    <!-- Configurações da plataforma Android -->
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-minSdkVersion" value="23" />
        <preference name="android-targetSdkVersion" value="35" />
        <preference name="android-compileSdkVersion" value="35" />
        
        <!-- Permissões Bluetooth serão adicionadas pelo plugin -->
        
        <!-- Ícones serão gerados automaticamente -->
        
        <!-- Splash Screen -->
        <preference name="SplashMaintainAspectRatio" value="true" />
        <preference name="SplashShowOnlyFirstTime" value="false" />
        <preference name="SplashScreen" value="screen" />
        <preference name="SplashScreenDelay" value="3000" />
    </platform>
    
    <!-- Configurações gerais -->
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-windowSoftInputMode" value="adjustResize" />
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="false" />
    
    <!-- Acesso à rede -->
    <access origin="*" />
    <allow-navigation href="http://localhost:*" />
    <allow-navigation href="https://localhost:*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
</widget>
